
			.container {
				width: 1200px;
				margin: 0 auto;
				height: 1200px;
				background-color: red;
			}
			/*媒体查询：注意and后面空格的添加*/
			/*iphone: w < 768px*/
			
			@media screen and (max-width: 768px) {
				.container {
					width: 100%;
					background-color: green;
				}
				html{
					font-size: 10px;
				}
			}
			/*pad: w >= 768  && w< 992*/
			
			@media screen and (max-width: 992px) and (min-width: 768px) {
				.container {
					width: 750px;
					background-color: blue;
				}
				html{
					font-size: 12px;
				}
				
			}
			/*中等屏幕   w >= 992  && w<1200*/
			
			@media screen and (max-width: 1200px) and (min-width: 992px) {
				.container {
					width: 970px;
					background-color: pink;
				}
				html{
					font-size: 16px;
				}
		
				
			}
	