/*
* @Author: Administrator
* @Date:   2017-04-25 10:36:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-26 12:03:01
*/
body{
	background-color:#eef1f6; 
}
header{
	background-color:#44c660; 
	padding:.2rem .3rem;
}
header i{
	float: left;
	width:.18rem;
	height: .32rem;
	background-image: url(../../images/common/back.png);
	background-size: .18rem .32rem;
	margin:.1rem;
}
header .container p{
	text-align: center;
	color:#fff;
	font-size: .36rem;
}
.navbar{
	margin-top:.2rem;
}
.navbar li{
	border-bottom: 1px solid #eee;
}
.navbar li p img{
	width:.46rem;
	height: .46rem;
	margin-right: .16rem;
}
.navbar li p{
	font-size: .28rem;
	color:#333;
	line-height: 1.02rem;
	background-color: #fff;
	padding-left:.24rem;
	padding-right: .24rem;
	position: relative;
}
.navbar li p i{
	cursor: pointer;
	width:10px;
	height: 17px;
	position:absolute;
	right: .24rem;
	top:50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-image: url(../../images/common/derect.png);
}
.navbar li p i.current{
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
	        top: 40%;
}
.navbar li dl{
	padding-top: .1rem;
}
.navbar li dd a{
	padding-left: .24rem;
	color:#666;
	font-size: .26rem;
	display: inline-block;;
	line-height: .6rem;
}
.navbar li dd a:before{
	content:"";
	width:6px ;
	height: 12px;
	display: inline-block;
	background-image:url(../../images/help/sign.png);
	margin-right: .1rem; 
}

/* help infor */
.help-infor{
	padding: .1rem .24rem;
}
.help-infor .title-lists{
	color: #333;
	font-size: .28rem;
	line-height: 2.2;
}
.help-infor .sub-title-lists{
	color: #444;
	font-size: .26rem;
}
.help-infor p{
	font-size: .26rem;
	color: #666;
	line-height: 1.8;
}
.help-infor .help-img{
	padding-top: .16rem;
	text-align: center;
}
.none {
	display: none;
}
