<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifeshs.dao.device.IAppVersionDao">
    <select id="queryAppMaxVersion" resultType="java.lang.Integer">
        SELECT MAX(version) FROM t_app_version WHERE appname = #{appName}
    </select>

    <select id="queryAppMaxPubliceVersion" resultType="java.lang.String">
        SELECT
            public
        FROM
            t_app_version
        WHERE
            version = (
                SELECT
                    MAX(b.version)
                FROM
                    t_app_version b
                WHERE
                    b.appname = #{appName}
            )
        AND appname = #{appName}
    </select>

</mapper>  
 