<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lifeshs.dao1.measure.TemperatureDao" >
  <resultMap id="BaseResultMap" type="com.lifeshs.po.TemperaturePO" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="temperature" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="temperatureArea" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="temperatureStatusDescription" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="measureDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="deviceType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="dataType" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, status, temperature, temperatureArea, temperatureStatusDescription, measureDate, 
    deviceType, createDate, dataType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_measure_temperature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_measure_temperature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lifeshs.po.TemperaturePO" >
    insert into t_measure_temperature (id, userId, status, 
      temperature, temperatureArea, temperatureStatusDescription, 
      measureDate, deviceType, createDate, 
      dataType)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{status,jdbcType=BIGINT}, 
      #{temperature,jdbcType=REAL}, #{temperatureArea,jdbcType=VARCHAR}, #{temperatureStatusDescription,jdbcType=VARCHAR}, 
      #{measureDate,jdbcType=TIMESTAMP}, #{deviceType,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{dataType,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lifeshs.po.TemperaturePO" >
    insert into t_measure_temperature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="temperature != null" >
        temperature,
      </if>
      <if test="temperatureArea != null" >
        temperatureArea,
      </if>
      <if test="temperatureStatusDescription != null" >
        temperatureStatusDescription,
      </if>
      <if test="measureDate != null" >
        measureDate,
      </if>
      <if test="deviceType != null" >
        deviceType,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
      <if test="dataType != null" >
        dataType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="temperature != null" >
        #{temperature,jdbcType=REAL},
      </if>
      <if test="temperatureArea != null" >
        #{temperatureArea,jdbcType=VARCHAR},
      </if>
      <if test="temperatureStatusDescription != null" >
        #{temperatureStatusDescription,jdbcType=VARCHAR},
      </if>
      <if test="measureDate != null" >
        #{measureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lifeshs.po.TemperaturePO" >
    update t_measure_temperature
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="temperature != null" >
        temperature = #{temperature,jdbcType=REAL},
      </if>
      <if test="temperatureArea != null" >
        temperatureArea = #{temperatureArea,jdbcType=VARCHAR},
      </if>
      <if test="temperatureStatusDescription != null" >
        temperatureStatusDescription = #{temperatureStatusDescription,jdbcType=VARCHAR},
      </if>
      <if test="measureDate != null" >
        measureDate = #{measureDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deviceType != null" >
        deviceType = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null" >
        dataType = #{dataType,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lifeshs.po.TemperaturePO" >
    update t_measure_temperature
    set userId = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIGINT},
      temperature = #{temperature,jdbcType=REAL},
      temperatureArea = #{temperatureArea,jdbcType=VARCHAR},
      temperatureStatusDescription = #{temperatureStatusDescription,jdbcType=VARCHAR},
      measureDate = #{measureDate,jdbcType=TIMESTAMP},
      deviceType = #{deviceType,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      dataType = #{dataType,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectMeasureDatesByUserId" resultType="com.lifeshs.po.TemperaturePO" parameterType="map">
    SELECT measureDate,status
    from t_measure_temperature
    where userId = #{userId}
    and DATE_ADD(#{queryDate},interval 1 month) &gt;= measureDate
    and measureDate &gt;= #{queryDate}
  </select>

  <select id="getLastDateByUserId" resultType="date" parameterType="integer">
    SELECT measureDate
    FROM t_measure_temperature
    WHERE userId = #{userId}
    Order by measureDate desc
    limit 1
  </select>
</mapper>