<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lifeshs.dao.user.UserDao">

    <select id="getFullUserById" resultType="com.lifeshs.po.user.UserPO">
        select
           u.id ,
           u.userName  ,
           u.realName ,
           ur.gender  "userRecord.gender",
           u.mobile ,
           ur.height "userRecord.height",
           ur.birthday  "userRecord.birthday",
           ur.weight  "userRecord.weight",
           ur.waist  "userRecord.waist",
           ur.bust  "userRecord.bust",
           ur.hip  "userRecord.hip"
        from t_user u inner join t_user_record ur on u.id = ur.userId
        where u.id = #{userId}
    </select>
    
    
    <select id="getUserInfo" resultType="com.lifeshs.po.user.UserPO">
        select
           u.id ,
           u.userNo,
           u.userName  ,
           u.realName ,
           u.mobile ,
           u.parentId
        from t_user u 
        where u.id = #{userId}
    </select>
</mapper>