/*
* @Author: Administrator
* @Date:   2017-04-10 14:09:40
* @Last Modified by:   Administrator
* @Last Modified time: 2017-04-20 16:20:46
*/
html{
	overflow-x:hidden;
	overflow-y:auto;
}
#login_form{
    width:70%;
    margin-left: 30%;
    margin-top:3%
}

.input-row{
 height:50px;
}

.page-content label {
    line-height: 40px;
    font-weight: 500;
    float: left;
    width:120px;
    text-align: right;
    color:#666;
    font-size: 16px;
    margin-right: 20px;
}

.verifyCode{
    width:340px;
}

.page-content input[type=text],
.page-content input[type=password],
.page-content select{
    width: 380px;
    height: 40px;
    border:1px solid #cacaca;
    text-indent: 16px;
    outline-color: #369239;
    float: left;
    margin-right: 18px;
    font-size: 14px;
}

 .page-content input[type=button]{
    border: 1px solid #ddd;
    padding: 0 10px;
    outline-color: #48c858;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #48c858;
    border:none
} 


.page-content button{
    color:#fff;
    background-color: #369239;
    font-size: 18px;
    display: inline-block;
    border-radius:6px;
    width:230px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border:none;
}

.register-font{
    height:80px;
}
.user-reginster-font{
    padding:0px 0px 0px 16%;
    color: #369239;
    font-size: 23px;
}

.warn{
 color: red
}



















