/*
* @Author: Administrator
* @Date:   2016-06-16 09:56:05
* @Last Modified by:   Administrator
* @Last Modified time: 2016-06-18 15:04:12
*/
@charset "utf-8";

*:before, *:after, * {
	box-sizing: border-box;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background: #f1f1f2;
}
.right-wrap{
	position: relative;left: 200px;padding-bottom: 30px
}
.fr{
	margin: 25px 0px 0 45px;
	background: #fff;
}
.webPage {
	border: 1px solid #ddd;
	box-sizing: content-box;

}

.topbar .console-topbar {
	height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.topbar .console-topbar .topbar-left a:hover{
	
}
.topbar .console-topbar .topbar-left .unread{
	position:absolute;background-color:#48c858;padding:0px 6px;height:16px;font-size:13px;line-height:16px;border-radius:10px;color:#fff;top:10px;right:-12px;
}
.topbar .console-topbar .exit{
	min-width:110px;text-align:center;margin-right:0;border-left:1px solid #ccc
}
.topbar .console-topbar .exit a:hover{
	text-decoration:none;
	color:#e80000
}
.topbar .console-topbar .topbar-left img{
	margin-top:-2px;margin-right:2px
}
.topbar .console-topbar .topbar-left .userhead{
	width:40px;height:40px;border-radius:50%;background-color:#FFF;margin-right:8px;
}
.topbar .console-topbar .topbar-infor {
	margin-right: 0px;
}

.topbar .console-topbar .topbar-right {
	float: right;
	line-height: 60px;
}

.console-topbar .topbar-right li {
	margin-right: 20px;
}

.view-body .menu {
	width: 200px;
	background: #28313a;
}

.view-body .menu h3 {
	height: 70px;
	line-height: 70px;
	color: #fff;
	padding-left: 30px;
	border-bottom: 1px solid #4e565c;
}

.view-body .title {
	width: 1000px;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #ddd;
	padding-left:45px;
	box-shadow:0px 2px 5px #ccc;
	font-size:15px;
	background: #fff;
}

a.active {
	background-color: #48c858 !important;
	color: #fff !important;
}
/*�����ĳ�����*/
.top_cite {
	color:#a4a4a4;text-decoration:none
}
.top_cite:hover{
	text-decoration:underline;
}


.webPage {
	position: relative;
}

.topbar .console-topbar {
	height: 60px;
	border-bottom: 1px solid #ddd;
}

.topbar .console-topbar .topbar-head {
	width: 175px;
	border-right: 1px solid #ddd;
	margin-left: 25px;
}

.topbar .console-topbar .topbar-left {
	float: left;
	line-height: 58px;
	font-size: 15px;
}

.topbar .console-topbar .topbar-left a>span:hover {
	border-bottom: 1px dashed #000;
}

.topbar .console-topbar .topbar-left .unread {
	position: absolute;
	background-color: #48c858;
	padding: 0px 6px;
	height: 16px;
	font-size: 13px;
	line-height: 16px;
	border-radius: 10px;
	color: #fff;
	top: 10px;
	right: -12px;
}

.topbar .console-topbar .exit {
	min-width: 110px;
	text-align: center;
	margin-right: 0;
	border-left: 1px solid #ccc;
}

.topbar .console-topbar .exit a>span:hover {
	border-bottom: none;
	color: #e80000;
}

.topbar .console-topbar .topbar-left img {
	margin-top: -2px;
	margin-right: 2px;
}

.topbar .console-topbar .topbar-left .userhead {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFF;
	margin-right: 8px;
}

.topbar .console-topbar .topbar-infor {
	margin-right: 0px;
}

.topbar .console-topbar .topbar-right {
	float: right;
	line-height: 60px;
}

.console-topbar .topbar-right li {
	margin-right: 20px;
}

.menu-left {
	width: 200px;
	position: absolute;
	height: 100%;
	background-color: #28313a;
	color: #fff;
	font-size: 16px;
}

.menu-left ul li.menu-parent {
	cursor: pointer;
	background-color: #1f262c;
	margin-top: 3px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.menu-left ul li .cursor {
	float: right;
	margin-top: 22px;
	margin-right: 20px;
}

.menu-left .item {
	padding-left: 35px;
	height: 50px;
	line-height: 45px;
	transition: background-color 0.3s;
}

.menu-left .item:not(.top):hover {
	background-color: #111010;
}

.menu-left .item-action {
	background-color: #111010;
}

.menu-left .top {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #4e565c;
	background-color: #28313a;
	cursor: default;
}

.menu-left .item span {
	top: 3px;
	position: relative;
	margin-left: 15px;
	cursor: pointer;
}

.menu-left .child-menu {
	display: none;
}

.menu-left .child-menu li a {
	transition: background-color 0.3s;
	background-color: #38424b;
	color: #ccc;
	width: 100%;
	height: 100%;
	display: block;
	padding-left: 42px;
	height: 50px;
	line-height: 45px;
}

.menu-left .child-menu a img {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ccc;
}

.menu-left .child-menu a span {
	margin-left: 20px;
	cursor: pointer;
}

.menu-left .child-menu a.action {
	background-color: #48c858;
	color: #fff;
}

.menu-left .child-menu a.action img {
	background-color: #fff;
}

.menu-left .child-menu a:not(.action):hover {
	background-color: #5fc871;
	opacity: 0.9;
	color: #fff;
}