html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
   /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   flex: 0 0 auto;
}
a:focus, a:hover {
	text-decoration:none;
}
.item-content{
   flex: 1 0 auto;
}

footer{
   flex: 0 0 auto;
 }
*{box-sizing: border-box;}
.header {
    position: fixed; 
    width: 100%;
    background: #fff;
    z-index: 50;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 0px;
}
.navbar-inverse{
    background-color: #fff;
    border:none;
}
.navbar-inverse .navbar-toggle {
    margin-top: 20px;
    border-color: #48c858;
    background-color: #48c858;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border:none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    /*background-color: #48c858;*/
}
.navbar-inverse .navbar-nav>li>a{
    color: #666;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color:#48c858;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background: #48c858;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #48c858;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
}
.footer{
    background-color: #202226;
    color: #fff;
}
.footer .item-code{
    display: inline-block;
    margin-top:10px;
}
.footer .container .col-xs-12 li:last-child{
    font-size: 28px;
}
.footer li{
    margin-bottom: .3em;
}
.footer a{
    color: #eee;
}

.none{
    display: none !important;
}
.row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container .clearMargin,.container-fluid .clearMargin{
    margin-top: 0;
    margin-bottom: 0;
}
/* 弹窗 */

#tanchuanAndroid{background:url(../../images/erweimabg.png) no-repeat;
width:309px;
height:273px;
position: absolute;
    }
#tanchuanAndroid div h3{border-bottom:1px #ededed solid;text-align:center;line-height:30px;}
#tanchuanAndroid div input{position:absolute;right:30px;top:18px;}

#tanchuanAndroid a{margin:22px 16px;}
#tanchuanAndroid a .p2{background:#44c660;padding:2px 4px;margin:15px -11px;border-radius:8px;-moz-border-radius:8px;color:white;text-align:center}


#tanchuanIos{background:url(../../images/erweimabg.png) no-repeat;width:309px;height:273px;
    position: absolute;
}
#tanchuanIos div h3{border-bottom:1px #ededed solid;text-align:center;line-height:30px;}
#tanchuanIos div input{position:absolute;right:30px;top:18px;}

#tanchuanIos a{margin:22px 15px;}
#tanchuanIos a .p2{background:#44c660;padding:2px 4px;margin:15px -11px;border-radius:8px;-moz-border-radius:8px;color:white;text-align:center}


.alignFlex{
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,.1);
    padding-top: 10px;
    padding-bottom: 10px;
}
@media (min-width: 768px){
	.navbar-inverse .navbar-nav>li>a {
        font-size: 18px;
    }
    .navbar-nav {
        float: right;
        margin-top: 10px;
    }
    #register{
        margin-top: 9px;
        border-radius: 6px ;
        background-color: #369239;
        margin-right:4px;
    }
    #register a{
        color: #fff;
        padding: 6px 15px;
    }
    #login{
        margin-top: 9px;
        border-radius: 6px ;
        border: 1px solid #369239;
    }
    #login a{
        padding: 5px 15px;
    }
/* 导航条下拉框 */
ul.navbar-nav > li{
    position: relative;
}
ul.navbar-nav li ul {
    display: none;
}

ul.navbar-nav li:hover ul {
    position: absolute;
    display: block;
    z-index: 1000;
    left: 0;
    top: 44px;
    padding: 5px 0;
    background: #f8f8f8;
   /*  -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999; */
    /* Border Radius */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
ul.navbar-nav li ul li {
    margin: 0 10px;
    border-bottom: 1px solid #d0d0d0;
}
 ul.navbar-nav li ul li:first-child {
    margin: 0 10px;
    border-top: 0 none;
}
ul.navbar-nav li ul li:last-child {
    border-bottom: 0 none;
}
ul.navbar-nav li ul li a, ul.navbar-nav li ul li a:link {
	font-size:18px;
    color: #777;
    display: block;
    background: transparent none;
    padding: 10px 20px 10px 5px;
    white-space: nowrap;

    /* Border Radius */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
ul.navbar-nav li ul li a:hover {
    text-decoration: underline;
    color:#369239 ;
}

}
@media (max-width:768px){
	.navbar-nav li ul li a{
        color: #999;
    }
    .navbar-nav{
        text-align: center;
    }
    .navbar-nav li ul li a:hover{
        color: #a8f1b1;
    }
    .footer .container .row > div:nth-of-type(2),
    .footer .container .row > div:nth-of-type(3){
        display: none;
    }
}
@media (max-width:480px){
	h3{font-size:18px !important;}
    h4{font-size:15px !important;;}
}
@media (min-width: 768px) and (max-width: 992px){
	.header .container{
        width: 768px;
        padding-right: 5px;
    }
     .none_1{display:none;}
}