/* 弹窗 */
.setNotice{padding:20px 40px 0;}
.setNotice li{
	font-size:16px;margin-bottom:30px;
	text-align:right;
}
.setNotice li input{
	width:300px;
	height:30px;
	border-radius:5px;
	padding:0 8px;
	border:1px solid #ddd;
	margin-left:18px;
}
.setNotice li input[type='checkbox']{
	width: 18px;
	height: 18px;
	margin: left;
}
.setNotice li div.checkbox_line{
	display: inline-block;
	width: 302px;
	margin-left: 18px;
	text-align: left;
}