/**
任务中心
 * @Author wenxian.cai
 * @Date 2017/6/8 10:09
 */
.main-content {
    background-color:#f5f5f5 ;
}
.items-link {
	padding-left: 20px;
	background-color:#fff ;
    line-height: 50px;
}
.items-link a, .items-link span {
    color: #666;
    font-size: 16px;
}
.items-nav {
	background-color:#fff ;
	padding-top:20px;
	padding-bottom: 20px;
    position: relative;
}
.items-nav ul{
	margin-left: 20px;
	border-bottom: 2px solid #10bb71;
}
.items-nav li {
    display: inline-block;
    width: 112px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #333;
}
.items-nav li.current {
    background: #10bb71;
    color: #fff;
    position: relative;
}
.items-nav li.current i{
	width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    right: 10px;
    top: 4px;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
    font-size: 12px;
}

.items-nav .search{
	position: absolute;
	right: 20px;
	bottom: 30px;
}
.items-nav .search input{
	width: 208px;
    height: 36px;
    border: 1px solid #10bb71;
    background: #10bb71 url(/static/platform/v2.2.0/images/org/org-magnifier.png) no-repeat right 10px center;
    color: #fff;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

.items-nav .search input::-webkit-input-placeholder{
	color:#fff;
}
.items-nav .search input::-moz-placeholder{
	color:#fff;
}
.items-nav .search input::-ms-input-placeholder{
	color:#fff;
}
.service-type {
    line-height: 40px;
    padding-left: 48px;
}
.service-type label {
    color: #666;
    font-size: 14px;
    margin-right: 10px;
}
.service-type select {
    width: 100px;
    height: 22px;
    border: 1px solid #ddd;
    color: #666;
    font-size: 14px;
}
.service-details {
    padding: 20px 30px;
    background-color: #fff;
    display: flex;
}
.service-details dt {
    flex: 1;
    text-align: center;
    padding-right: 10px;
}
.service-details dd.items-details {
    flex: 3;
}
.items-details p {
    color: #333;
    font-size: 14px;
    line-height: 2;
}
.service-details dd.items-btn {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.service-details dd.items-btn p {
    color: #333;
    font-size: 14px;
}
.service-details dd.items-btn span{
	width: 90px;
	height: 40px;
	border-radius: 6px;
	background-color: #10bb71;
	color:#fff;
	line-height: 40px;
	text-align: center;
}
.service-details dd.items-btn a {
    color: #10bb71;
    font-size: 15px;
}