
.error-wrap {
    width: 800px;
    margin: 0 auto;
    height: 600px;
    padding: 200px;
}
.error-wrap p{
    font-size:20px;
    text-align: center;
    margin-bottom: 20px;
}
.error-btn{
    margin-left: 20px;
    color: #369239;
}